{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <link rel="stylesheet" type="text/css" href="{% static '/task/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/task/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/task/css/jquery.datetimepicker.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Employee Trainning Records Django</title>

</head>
<body>

{% include "task/navbar.html" %}

{% block content %}

{% endblock content %}

<script src="{% static '/task/js/jquery-slim.js' %}"></script>
<script src="{% static '/task/js/popper.js' %}"></script>
<script src="{% static '/task/js/bootstrap.js' %}"></script>
<script src="{% static '/task/js/jquery.datetimepicker.full.min.js' %}"></script>
<script src=" https://kit.fontawesome.com/107aa9b6ce.js" crossorigin="anonymous "></script>
<script>
    $(function() {
        $('.datetimepicker-input').datetimepicker({
        'timepicker': false,
        'datepicker': true,
        'format': 'Y-m-d h:m:s', // format date
        'hours12': false

        });
    });

</script>
</body>
</html>
